@font-face {
  font-family: 'Overpass';
  src:url(https://github.com/GukFlagship/gukflagship.github.io/blob/main/img/typo/Overpass.ttf) format('truetype');
}

body{
    height: 100%;
    background-color: #f7f7f7 !important;
    font-family: 'Overpass', sans-serif !important;
}
h2{
  font-family: 'Overpass', sans-serif !important;
}
h3{
  font-family: 'Overpass', sans-serif !important;
}
.logo-flagship{
    position: absolute;
    right: 20px;
    width: 80px;
}
.separator-1{
    position:relative;
    margin: 0 auto !important;
    width:570px;
    height: 3px;
    background-color: rgb(33,167,112);
}
.separacircle-1{
    position: relative;
    margin: 0 auto !important;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(33,167,112);
    top:-8px;
}
.title-line{
  height:7px;
  width:250px;
  position: absolute;
  left:0px;
  z-index:300;
}

/* ANIMACIONES */
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes animatedfloat {
    0% {
        background-position: -100px 20px;
    }
    50% {
        background-position: -100px 0px;
    }
    100% {
        background-position: -100px 20px;
    }
}

@keyframes prueba{
    0%{
        color: white;
    }
    100%{
        color: black;
    }
}

                    /* ---- SLIDE 1 ----*/


#turbina-float{
    height: 700px;
    position: absolute;
    width: 960px;
    background-image: url(../img/Turbina_eolica_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -100px 0;
    animation: animatedfloat 6s ease-in-out infinite;
    user-select: none;
}

.turbine{
    position: absolute;
    left:-200px !important;
    bottom:-50px !important;
    bottom:50px;
    width:auto;
    animation: float 6s ease-in-out infinite;
    user-select: none;
}
.slidebck{
    /*background-color: antiquewhite;*/
    height:100% !important;
    background-color: white;
}
.back-waves{
    width:100% !important;
    height:100% !important;
    position: absolute;
}
#slide-1{
    background-image: url(../img/back_slide_1.png);
}
#title-slide1{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    width:800px;
    position: absolute;
    left: 90px;
    top: 250px;
    user-select: none;
}
#sl1-logo{
    width: 300px;
    left:325px;
    top:50px;
}

                    /* ---- SLIDE 2 ---- */
#slide-2{
  background-image: url(../img/bckgr_001.png);
  background-size: 75%;
  background-position: right bottom;
  background-repeat: no-repeat;
}

#slide-2 p{
    font-size: 25px;
    text-align: left;
}
#slide-2 h2{
    font-size: 45px;
    font-weight: 800;
    text-align: left;
    position:absolute;
    top:25px;
    left:30px;
    padding-right: 2em;
}
#slide2-p{
    position: absolute;
    top:230px;
    width: 490px;
    left:45px;
    padding-left:.5em;
    border-left: 0.1em solid rgba(99,153,121,1);
}
#slide-2 .title-line{
  top:190px;
  background-color: rgba(33,167,112,1);
}

                    /* ---- SLIDE 3 ---- */

#slide-3 h2 {
    font-size:45px;
    font-weight: 800;
    position: absolute;
    top:25px;
    left:30px;
}
#popup-1 {
    position:absolute;
    z-index: 5;
    left: 160px;
    top: 100px;
    height: 280px;
    width: 280px;
    background-image: linear-gradient(-45deg, rgba(33,167,112,0), rgba(33,167,112,1));
    border-radius: 200px;
}
#popup-n1{
    position:absolute;
    left:95px;
    top: 10px;
}
#popup-t1{
    position: absolute;
    top: 170px;
    left: 60px;
}

#popup-2 {
    position: absolute;
    z-index: 4;
    right: 180px;
    top: 50px;
    height: 250px;
    width:250px;
    background-image: linear-gradient(135deg, rgba(54,165,222,0), rgba(54,165,222,1));
    /*-- background-image: linear-gradient(-135deg, rgba(99,153,121,0), rgba(99,153,121,1)); --*/
    border-radius: 200px;
}
#popup-n2{
    position:absolute;
    left: 72px;
    top:10px;
}
#popup-t2{
    position:absolute;
    top:170px;
    left:80px;
}

#popup-3{
    position:absolute;
    z-index: 3;
    left:30px;
    top: 280px;
    height:400px;
    width: 400px;
    background-image: linear-gradient(135deg, rgba(54,165,222,0), rgba(54,165,222,1));
    border-radius:300px;
}
#popup-n3{
    position: absolute;
    top:80px;
    left:120px;
    font-weight: bolder !important;
}
#popup-t3{
    position: absolute;
    top:240px;
    right:120px;
}

#popup-4{
    position:absolute;
    z-index: 2;
    right:10px;
    top:150px;
    height:550px;
    width: 550px;
    background-image: linear-gradient(-135deg, rgba(99,153,121,0), rgba(99,153,121,1));
    border-radius:400px;
}
#popup-n4{
    position:absolute;
    top:150px;
    left:35px;
}
#popup-t4{
    position: absolute;
    top:330px;
    right:200px;
}

.pop-up-number{
    font-size: 165px;
    font-weight: bolder;
}
#slide-3 .title-line{
  top:85px;
  background-color:rgba(54,165,222,1);
}

                /* ---- SLIDE 4 ---- */

#slide-4 h2{
  font-size:45px;
  font-weight: 800;
  position: absolute;
  padding-right: 2em;
  text-align: left;
  top:25px;
  left:30px;
}

.parent{
    background-color: rgba(255,255,255,0);

    --scroll-gap: 2em;
    position:absolute;
    bottom:0;
    height: 380px;
    overflow: auto;
    padding: var(--scroll-gap);

    scroll-snap-type: y mandatory;
}
.child{
    scroll-snap-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 200px;

    border-radius: 1em;
    padding: 1.25em;
    box-shadow: 0 0.9px 1.5px rgba(0,0,0,0.03),
        0 3.1px 5.5px rgba(0,0,0,0.08),
        0 14px 25px rgba(0,0,0,0.12);
}
.child p{
    font-size: .65em;
    font-weight: 400;
    z-index: 200;
    position: relative;
}
.child h3{
    font-size: 6em !important;
    z-index:100;
    color: white;
    position:absolute !important;
    opacity: 0.5;
}

.child:not(:last-child){
    margin-bottom: var(--scroll-gap);
}

.child:nth-child(1) {
    background-color: rgba(54,165,222,1);
}
.child:nth-child(2) {
    background-color: rgba(99,153,121,1);
}
.child:nth-child(3) {
    background-color: rgba(33,167,112,1);
}
.child:nth-child(4) {
    background-color: rgba(54,165,222,1);
}
.child:nth-child(5) {
    background-color: rgba(99,153,121,1);
}
.child:nth-child(6) {
    background-color: rgba(33,167,112,1);
}
.child:nth-child(7) {
    background-color: rgba(54,165,222,1);
}
.child:nth-child(8) {
    background-color: rgba(99,153,121,1);
}
.child:nth-child(9) {
    background-color: rgba(33,167,112,1);
}
.child:nth-child(10) {
    background-color: rgba(54,165,222,1);
}
.child:nth-child(11) {
    background-color: rgba(99,153,121,1);
}

#slide-4 .title-line{
  top:140px;
  background-color:rgba(99,153,121,1);
}


                /* ---- SLIDE 5 ---- */


#slide-5 h2{
  font-size:45px;
  font-weight: 800;
  position: absolute;
  top:25px;
  left:30px;
}
#slide-5 p{
    font-size:25px;
    position: absolute;
    top:110px;
    left:50px;
}

#slide-5 .interh3 {
    position: relative;
    height: 148px;
    width:content;
    padding-left: 1.2em;
    padding-right: 1.2em;
    /*background-color: aqua;*/
    margin-top:0.45em;
}
.list-element{
  margin-top:4.8em;
  padding-left: 2em;
  padding-right:2em;
}
#slide-5 h3{
    font-size: 33px;
    align-items: center;
    text-transform: inherit;
    justify-content: center;
    display:flex;
    margin-top:.5em;
    padding:0.5em;
    border:3px solid rgba(99,153,121,1);
    background-color:rgba(33,167,112,0.1);
    border-radius:20px;
}
#slide-5 h3:hover{
  transition: 0.6s;
  background-color:rgba(99,153,121,1);
  color:white;
}
#slide-5 .title-line{
  top:85px;
  background-color:rgba(33,167,112,1);
}


                /* ---- SLIDE 6 ---- */

#slide-6{
  background-image: url(../img/bckgr_002.png);
  background-size: contain;
}

#slide-6 h2{
  font-size:45px;
  font-weight: 800;
  position: absolute;
  top:25px;
  left:30px;
}
#slide-6 .title-line{
  top:85px;
  background-color:rgba(54,165,222,1);
}

#slide-6 p{
    font-size: 25px;
    text-align: left;
}
#slide6-p{
    position: absolute;
    top:180px;
    width: 490px;
    left:45px;
    padding-left:.5em;
    border-left: 0.1em solid rgba(99,153,121,1);
}

                /* ---- SLIDE 7 ---- */
#slide-7 h2{
  font-size:45px;
  font-weight: 800;
  position: absolute;
  top:25px;
  left:30px;
}
#slide-7 .title-line{
  top:85px;
  background-color:rgba(99,153,121,1);
}
#slide-7 p{
  font-size: 25px;
  text-align: left;
}
#s7-1-p, #s7-2-p, #s7-3-p {
  position: absolute;
  top:175px;
  left:50px;
  z-index: 200;
  padding-right:2em;
}
#slide-7 table{
  width:800px;
}
#slide-7 th{
  font-size: 30px;
}
#slide-7 td{
  font-size: 25px;
  background-color: rgba(255,255,255,0.6);
  border-bottom: 3px solid #fff;
}
#s7-4-p1{
  position:absolute;
  top:125px;
  left:50px;
}
#s7-4-p2{
  position:absolute;
  top:545px;
  left:50px;
  padding-right:2em;
}
#table-1{
  margin-top:4.7em;
}
#table-2, #table-3{
  margin-top:0.4em;
}
#s7-1{
  background-image: url(../img/s7_1.png);
}
#s7-2{
  background-image: url(../img/s7_2.png);
}
#s7-3{
  background-image: url(../img/s7_3.png);
}
#s7-4{
  background-image: url(../img/s7_4.png);
}
.map-norway{
  position: absolute;
  height: 500px;
  width:500px;
  z-index: 100;
  border-radius: 600px;
  background-image: url(../img/norway_map.png);
  background-size: 145%;
  top:180px;
  left:325px;
}
#map-point{
  position:absolute;
  height:150px;
  width:150px;
  z-index:150;
  background-color:rgba(33,167,112,0.4);
  border-radius:200px;
  top:320px;
  left:490px;
}
#ltlturbine-1 {
  position: absolute;
  width:30px;
  height: 55px;
  background-image:url(../img/little_turbine.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index:160;
  top:395px;
  left:530px;
}
#ltlturbine-2 {
  position: relative;
  width:30px;
  height: 55px;
  background-image:url(../img/little_turbine.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index:160;
  top:335px;
  left:545px;
}
#ltlturbine-3 {
  position: relative;
  width:30px;
  height: 55px;
  background-image:url(../img/little_turbine.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index:160;
  top:305px;
  left:510px;
}

                  /* ---- SLIDE 8 ---- */

#slide-8 h2{
  font-size: 45px;
  font-weight: 1000;
  padding-left:2em;
  padding-right: 2em;
  margin-top:25px;
  box-shadow: 5px;
}
#slide-8{
  /*background-image:linear-gradient(-45deg, rgba(33,167,112,0), rgba(33,167,112,1));*/
}
.web, .twitter, .linkedin, .video{
  width:130px;
  height: 130px;
  position: absolute;
  border-radius: 200px;
  padding-top:0.5em;
  padding-left:0.25em;
  padding-right: 0.25em;
}
.web{
  top:175px;
  left:50px;
  background-image:linear-gradient(-45deg, rgba(33,167,112,0), rgba(33,167,112,1));
}
.web:hover{
  background-image:linear-gradient(-45deg, rgba(54,165,222,0), rgba(54,165,222,1));
  transition: 0.8s ease-in-out;
}
.twitter{
  top:175px;
  right:50px;
  background-image:linear-gradient(45deg, rgba(54,165,222,0), rgba(54,165,222,1));
}
.twitter:hover{
  background-image:linear-gradient(45deg, rgba(54,165,222,0), rgba(33,167,112,1));
  transition: 0.8s;
}
.linkedin{
  left:50px;
  top:425px;
  background-image:linear-gradient(-120deg, rgba(54,165,222,0), rgba(54,165,222,1));
}
.linkedin:hover{
  transition: 0.8s ease-in-out;
  background-image:linear-gradient(-120deg, rgba(54,165,222,0), rgba(99,153,121,1));
}
.video{
  right:50px;
  top:425px;
  background-image:linear-gradient(120deg, rgba(99,153,121,0), rgba(99,153,121,1));
}
.video:hover{
  transition: 0.8s ease-in-out;
  background-image:linear-gradient(120deg, rgba(99,153,121,0), rgba(54,165,222,1));
}
.euro-project{
  width:400px;
  height:90px;
  display: block;
  position: relative;
  bottom:-80px;
  margin: 0 auto;
}
.euro-project img{
  position: absolute;
  height: 90px;
  width: auto;
  left:0px;
  top:-20px;
}
.euro-project p{
  position: absolute;
  font-size: 14px;
  text-align: left;
  padding-left:135px;
}
