@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

body{
    height: 100%;
    background-color: #f7f7f7 !important;
    font-family: Nunito, sans-serif !important;
}
.logo-flagship{
    position: absolute;
    right: 20px;
    width: 80px;
}
.separator-1{
    position:relative;
    margin: 0 auto !important;
    width:570px;
    height: 3px;
    background-color: rgb(33,167,112);
}
.separacircle-1{
    position: relative;
    margin: 0 auto !important;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(33,167,112);
    top:-8px;
}

/* ANIMACIONES */
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes animatedfloat {
    0% {
        background-position: -100px 20px;
    }
    50% {
        background-position: -100px 0px;
    }
    100% {
        background-position: -100px 20px;
    }
}

@keyframes prueba{
    0%{
        color: white;
    }
    100%{
        color: black;
    }
}

                    /* ---- SLIDE 1 ----*/


#turbina-float{
    height: 700px;
    position: absolute;
    width: 960px;
    background-image: url(../img/Turbina_eolica_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -100px 0;
    animation: animatedfloat 6s ease-in-out infinite;
    user-select: none;
}

.turbine{
    position: absolute;
    left:-200px !important;
    bottom:-50px !important;
    bottom:50px;
    width:auto;
    animation: float 6s ease-in-out infinite;
    user-select: none;
}
.slidebck{
    /*background-color: antiquewhite;*/
    height:100% !important;
    background-color: white;
}
.back-waves{
    width:100% !important;
    height:100% !important;
    position: absolute;
}
#slide-1{
    background-image: url(../img/back_slide_1.png);
}
#title-slide1{
    font-size: 1.3em;
    font-weight: 800;
    text-align: center;
    width:800px;
    position: absolute;
    left: 90px;
    top: 250px;
    user-select: none;
}
#sl1-logo{
    width: 300px;
    left:325px;
    top:50px;
}

                    /* ---- SLIDE 2 ---- */

#slide-2 p{
    font-size: 0.55em;
    text-align: left;
}
#slide-2 h2{
    font-size: 1em;
    font-weight: bolder;
    text-align: left;
    padding-left:20px;
    padding-right:80px;
    padding-top:15px;
}
#slide-2 p{
    padding-left:30px;
    padding-right:60px;
    position: relative;
    margin: 0 auto !important;
}
.threepoints{
    height:485px;
}
.threepoints #paragraph-1{
    height: 161px;
    background-color: rgb(33,167,112);
}
.threepoints #paragraph-2{
    height:162px;
    background-color:bisque;
}
.threepoints #paragraph-3{
    height: 163px;
    background-color:chartreuse;
}

                    /* ---- SLIDE 3 ---- */

#slide-3 h2 {
    font-size:1.2em;
    font-weight: 800 !important;
    position: relative;
    top:30px;
    margin: 0 auto !important;
}
#popup-1 {
    position:absolute;
    z-index: 5;
    left: 160px;
    top: 100px;
    height: 280px;
    width: 280px;
    background-image: linear-gradient(-45deg, rgba(33,167,112,0), rgba(33,167,112,1));
    border-radius: 200px;
}
.enhanced #popup-1{
    transition: transform 600ms;
    transform: scale(0.3);
}
#popup-1 .revealed{
    transform: scale(1);
}
#popup-n1{
    position:absolute;
    left:100px;
    top: 0px;
}
#popup-t1{
    position: absolute;
    top: 180px;
    left: 60px;
}

#popup-2 {
    position: absolute;
    z-index: 4;
    right: 120px;
    top: 50px;
    height: 250px;
    width:250px;
    background-image: linear-gradient(135deg, rgba(54,165,222,0), rgba(54,165,222,1));
    /*-- background-image: linear-gradient(-135deg, rgba(99,153,121,0), rgba(99,153,121,1)); --*/
    border-radius: 200px;
}
#popup-n2{
    position:absolute;
    left: 76px;
    top:0px;
}
#popup-t2{
    position:absolute;
    top:170px;
    left:80px;
}

#popup-3{
    position:absolute;
    z-index: 3;
    left:50px;
    top: 280px;
    height:400px;
    width: 400px;
    background-image: linear-gradient(135deg, rgba(54,165,222,0), rgba(54,165,222,1));
    border-radius:300px;
}
#popup-n3{
    position: absolute;
    top:60px;
    left:120px;
    font-weight: bolder !important;
}
#popup-t3{
    position: absolute;
    top:240px;
    right:115px;
}

#popup-4{
    position:absolute;
    z-index: 2;
    right:10px;
    top:150px;
    height:550px;
    width: 550px;
    background-image: linear-gradient(-135deg, rgba(99,153,121,0), rgba(99,153,121,1));
    border-radius:400px;
}
#popup-n4{
    position:absolute;
    top:140px;
    left:75px;
}
#popup-t4{
    position: absolute;
    top:330px;
    right:200px;
}

.pop-up-number{
    font-size: 4em;
    font-weight: bolder;
}

                /* ---- SLIDE 4 ---- */

#slide-4 h2{
    font-size:1.15em;
    font-weight: 800 !important;
    position: relative;
    top:30px;
    margin: 0 auto !important;
}
.parent{
    background-color: rgba(255,255,255,0);
    
    --scroll-gap: 2em;
    position:absolute;
    bottom:0;
    height: 380px;
    overflow: auto;
    padding: var(--scroll-gap);
    
    scroll-snap-type: y mandatory;
}
.child{
    scroll-snap-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: calc(65vh - 3 * var(--scroll-gap));
    
    border-radius: 1em;
    padding: 1.25em;
    box-shadow: 0 0.9px 1.5px rgba(0,0,0,0.03),
        0 3.1px 5.5px rgba(0,0,0,0.08),
        0 14px 25px rgba(0,0,0,0.12);
}
.child p{
    font-size: .65em;
    font-weight: 400;
    z-index: 200;
    position: relative;
    display: block;
}
.child h2{
    font-size: 6em !important;
    z-index:100;
    color: white;
    position:relative !important;
}
    
.child:not(:last-child){
    margin-bottom: var(--scroll-gap);
}
    
.child:nth-child(1) {
    background-color: rgba(54,165,222,1);
}
.child:nth-child(2) {
    background-color: rgba(99,153,121,1);
}
.child:nth-child(3) {
    background-color: rgba(33,167,112,1);
}
.child:nth-child(4) {
    background-color: rgba(54,165,222,1);
}
.child:nth-child(5) {
    background-color: rgba(99,153,121,1);
}
.child:nth-child(6) {
    background-color: rgba(33,167,112,1);
}
.child:nth-child(7) {
    background-color: rgba(54,165,222,1);
}
.child:nth-child(8) {
    background-color: rgba(99,153,121,1);
}
.child:nth-child(9) {
    background-color: rgba(33,167,112,1);
}
.child:nth-child(10) {
    background-color: rgba(54,165,222,1);
}
.child:nth-child(11) {
    background-color: rgba(99,153,121,1);
}


                /* ---- SLIDE 5 ---- */


#slide-5 h2{
    font-size:1.1em;
    font-weight: 800 !important;
    position: relative;
    top:30px;
    margin: 0 auto !important;
}
#slide5-text{
    font-size:0.6em;
    margin-top:2em;
    margin-bottom:3em;
}

#slide-5 div {
    position: relative;
    height: 148px;
    width:content;
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: aqua;
    margin-top:0.45em;
}
#slide-5 h3{
    font-size: 0.7em;
    align-items: center;
    justify-content: center;
    display:flex;
    padding-top:1em;
}


                /* ---- SLIDE 6 ---- */

#slide-6 h2{
    font-size: 1.1em;
    font-weight: 800 !important;
    position: relative;
    top: 30px;
    margin: 0 auto !important;
}
#slide-6 p{
    font-size: 0.65em;
    width:50%;
    text-align: left;
}