@font-face {
  font-family: 'Overpass';
  src:url(https://github.com/GukFlagship/gukflagship.github.io/blob/main/img/typo/Overpass.ttf) format('truetype');
}

body{
    height: 100%;
    background-color: #f7f7f7 !important;
    font-family: 'Overpass', sans-serif !important;
}
h2{
  font-family: 'Overpass', sans-serif !important;
}
h3{
  font-family: 'Overpass', sans-serif !important;
}
.logo-flagship{
    position: absolute;
    right: 20px;
    width: 80px;
}
.separator-1{
    position:relative;
    margin: 0 auto !important;
    width:570px;
    height: 3px;
    background-color: rgb(33,167,112);
}
.separacircle-1{
    position: relative;
    margin: 0 auto !important;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(33,167,112);
    top:-8px;
}
.title-line{
  height:7px;
  width:250px;
  position: absolute;
  left:0px;
  z-index:300;
}
.grass{
  background-image: linear-gradient(-45deg, rgba(33,167,112,0), rgba(33,167,112,1));
}
.ocean{
  background-image: linear-gradient(-135deg, rgba(99,153,121,0), rgba(99,153,121,1));
}
.aqua{
  background-image:linear-gradient(135deg, rgba(54,165,222,0), rgba(54,165,222,1));
}

/* ANIMACIONES */
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes animatedfloat {
    0% {
        background-position: -100px 20px;
    }
    50% {
        background-position: -100px 0px;
    }
    100% {
        background-position: -100px 20px;
    }
}

@keyframes prueba{
    0%{
        color: white;
    }
    100%{
        color: black;
    }
}

                    /* ---- SLIDE 1 ----*/


#turbina-float{
    height: 700px;
    position: absolute;
    width: 960px;
    background-image: url(../img/Turbina_eolica_001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -100px 0;
    animation: animatedfloat 6s ease-in-out infinite;
    user-select: none;
}

.turbine{
    position: absolute;
    left:-200px !important;
    bottom:-50px !important;
    bottom:50px;
    width:auto;
    animation: float 6s ease-in-out infinite;
    user-select: none;
}
.slidebck{
    /*background-color: antiquewhite;*/
    height:100% !important;
    background-color: white;
}
.back-waves{
    width:100% !important;
    height:100% !important;
    position: absolute;
}
#slide-1{
    background-image: url(../img/back_slide_1.png);
}
#title-slide1{
    font-size: 50px;
    font-weight: 800;
    text-align: left;
    color:rgb(77,77,77);
    width:500px;
    position: absolute;
    left: 350px;
    top: 250px;
    user-select: none;
}
#sl1-logo{
    width: 300px;
    left:330px;
    top:50px;
}

                    /* ---- SLIDE 2 ---- */
#slide-2{
  background-image: url(../img/s7_1.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

#slide-2 p{
    font-size: 20px;
    text-align: left;
}
#subtitulo-2{
  font-size:30px !important;
  padding-left:30px;
  padding-top:20px;
  padding-right: 50px;
  font-weight: 600;
  color:rgba(54,165,222,1);
  z-index: 8;
}
#subtitulo-box{
  width:800px;
  height:150px;
  background-color:#f7f7f7;
  border-radius:0 200px 200px 0;
  position:fixed;
  top:75px;
  left:0;
  z-index: 1;
}
#slide-2-text{
  width:500px;
  position: fixed;
  border-radius: 100px;
  bottom:50px;
  right:50px;
  background-color:rgba(255,255,255,0.7);
  color:rgb(77,77,77);
  padding:20px;
}

                    /* ---- SLIDE 3 ---- */

#slide-3 h2 {
    font-size:45px;
    font-weight: 800;
    color:rgb(33,167,112);
    text-transform: inherit;
    position: fixed;
    top:250px;
    left:0;
    right: 0;
    z-index: 999;
}
#key-fig{
  width:200px;
  height: 200px;
  border-radius: 150px;
  background-color: #f7f7f7 0.5;
  position: relative;
  margin: 0 auto;
  top:205px;
  z-index: 998;
  border: 3px solid rgb(33,167,112);
}
#popup-1 {
    position:absolute;
    z-index: 5;
    left: 120px;
    top: 25px;
    height: 280px;
    width: 280px;
    background-image: linear-gradient(-45deg, rgba(33,167,112,0), rgba(33,167,112,1));
    border-radius: 200px;
}
#popup-n1{
    position:absolute;
    color:rgb(77,77,77);
    left:95px;
    top: 10px;
}
#popup-t1{
    position: absolute;
    color:rgb(77,77,77);
    top: 170px;
    left: 60px;
}

#popup-2 {
    position: absolute;
    z-index: 4;
    right: 180px;
    top: 50px;
    height: 250px;
    width:250px;
    background-image: linear-gradient(135deg, rgba(54,165,222,0), rgba(54,165,222,1));
    /*-- background-image: linear-gradient(-135deg, rgba(99,153,121,0), rgba(99,153,121,1)); --*/
    border-radius: 200px;
}
#popup-n2{
    position:absolute;
    color:rgb(77,77,77);
    left: 72px;
    top:10px;
}
#popup-t2{
    position:absolute;
    color:rgb(77,77,77);
    top:170px;
    left:80px;
}

#popup-3{
    position:absolute;
    z-index: 3;
    left:30px;
    top: 300px;
    height:400px;
    width: 400px;
    background-image: linear-gradient(135deg, rgba(54,165,222,0), rgba(54,165,222,1));
    border-radius:300px;
}
#popup-n3{
    position: absolute;
    color:rgb(77,77,77);
    top:80px;
    left:120px;
    font-weight: bolder !important;
}
#popup-t3{
    position: absolute;
    color:rgb(77,77,77);
    top:240px;
    right:120px;
}

#popup-4{
    position:absolute;
    z-index: 2;
    right:10px;
    top:250px;
    height:450px;
    width: 450px;
    background-image: linear-gradient(-135deg, rgba(99,153,121,0), rgba(99,153,121,1));
    border-radius:400px;
}
#popup-n4{
    position:absolute;
    color:rgb(77,77,77);
    top:100px;
    left:100px;
}
#me-25{
  font-size:45px;
}
#popup-t4{
    position: absolute;
    color:rgb(77,77,77);
    top:270px;
    right:155px;
}

.pop-up-number{
    font-size: 165px;
    font-weight: bolder;
}

                /* ---- SLIDE 4 ---- */

#slide-4 h2{
  font-size:45px;
  font-weight: 800;
  text-transform: inherit;
  color:rgb(54,165,222);
  position: relative;
  padding-right: 2em;
  margin: 0 auto;
  top:30px;
  left:50px;
}
#slide-4 p{
  font-size: 20px;
  color:rgb(77,77,77);
}
.contenedor-slide4{
  position: fixed;
  margin:0 auto !important;
  background-color: white;
  font-size: 0.6em;
  height:500px;
  width:500px;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  border-radius: 500px;
  border:4px solid #f7f7f7;
  z-index: 3;
  opacity: 1;
  visibility: visible !important;
}
.contenedor-slide4 > div{
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 0.2em;
  padding-left:1.7em;
  padding-right: 1.7em;
}

.ventanamodal {
  position: fixed;
  margin:0 auto !important;
  background-color: white;
  font-size: 0.6em;
  height:500px;
  width:500px;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  border-radius: 50px;
  z-index: 4;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none;
  transition: all 0.3s;
}
  .ventanamodal:target {
    visibility: visible !important;
    opacity: 1 !important;
    background-color: rgba(255,255,255,1);
    border-radius: 500px;
    border:4px solid #f7f7f7;
    pointer-events: auto;
  }
  .ventanamodal > div {
    width: 400px;
    z-index:1001;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0.2em;
    padding-left:1.7em;
    padding-right: 1.7em;
  }
.punto-number{
  font-size:400px !important;
  z-index: 1000;
  align-content: center;
  position: relative;
  color:rgba(54,165,222,0.3) !important;
}

.cerrarmodal {
  color: #aaa !important;
  line-height: 50px;
  font-size: 80%;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0 !important;
  width: 70px;
  text-decoration: none;
}
  .cerrarmodal:hover {
    color: black !important;
  }


/* Demo Styles */

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70px;
  width:70px;
  transform: scale(1.1);
  border-radius: 70px;
  position: fixed;
  z-index: 5;
}
.container:hover{
  transform: scale(1.3);
  transition: transform 0.2s ease-in-out;
}

.ventanamodal {
  & > div {
    border-radius: 1rem;
  }
}

.ventanamodal div:not(:last-of-type) {
  margin-bottom: 15px;
}

.btn {
  text-decoration: none;
  color:white !important;
  padding:20px;
  i {
    padding-right: 0.3em;
  }
}
#boton11-1{
  top:110px;
  left:275px;
}
#boton11-2{
  top:155px;
  left:130px;
  width:100px;
  height:100px;
  border-radius: 100px;
}
#boton11-3{
  top:320px;
  left:150px;
}
#boton11-4{
  width:110px;
  height:110px;
  top:450px;
  left:100px;
}
#boton11-5{
  top:545px;
  right:595px;
  width:90px;
  height:90px;
  border-radius:90px;
}
#boton11-6{
  top:585px;
  left:430px;
  width:100px;
  height:100px;
  border-radius: 100px;
}
#boton11-7{
  top:536px;
  right:280px;
}
#boton11-8{
  top:487px;
  right:134px;
  width:80px;
  height:80px;
  border-radius:80px;
}
#boton11-9{
  top:320px;
  right:135px;
  width:100px;
  height:100px;
  border-radius:100px;
}
#boton11-10{
  top:163px;
  right:100px;
}
#boton11-11{
  width:95px;
  height:95px;
  top:85px;
  right:260px;
}

.deco-4{
  z-index:1;
  position: fixed;
}
#deco-4-1{
  width:200px;
  height:200px;
  border-radius:200px;
  opacity: 0.2;
  top:180px;
  left:88px;
}
#deco-4-2{
  width:150px;
  height:150px;
  border-radius:150px;
  opacity:0.2;
  top:488px;
  right:50px;
}
#deco-4-3{
  width:500px;
  height:500px;
  border-radius:500px;
  opacity:0.2;
  top:25px;
  left:409px;
}
#deco-4-4{
  width:300px;
  height:300px;
  border-radius:300px;
  opacity:0.2;
  top:375px;
  left:188px;
}


                /* ---- SLIDE 5 ---- */


#slide-5 h2{
  font-size:45px;
  font-weight: 800;
  text-transform: inherit;
  position: relative;
  color:rgba(33,167,112,1);
  top:65px;
}
#slide-5 p{
    font-size:20px;
    color:rgb(77,77,77);
}
#slide-5-1{
  position: relative;
  text-align: center;
  top:90px;
}
#slide-5-2{
  position: fixed;
  z-index: 5;
  text-align: left;
  top:350px;
  left:50px;
  width:455px;
}
#slide-5-img{
  width:400px;
  right:50px;
  z-index: 4;
  top:340px;
  border-radius: 20px;
  position: fixed;
}

.ventana-principles {
  position: fixed;
  margin:0 auto !important;
  background-color: blue;
  font-size: 20px;
  height:270px;
  width:850px;
  top:270px;
  left:50px;
  top:200px;
  border-radius: 200px;
  z-index: 999;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none;
  transition: all 0.3s;
}
  .ventana-principles:target {
    visibility: visible !important;
    opacity: 1 !important;
    background-color: #f7f7f7;
    pointer-events: auto;
  }
  .ventana-principles > div {
    width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0.2em;
    padding-left:150px;
    padding-right: 150px;
    z-index:999;
  }

/* Demo Styles */

.pr-contenedor {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 60px;
  width:60px;
  transform:scale(1.1);
  border-radius: 50px;
  position: fixed;
  z-index: 2;
}
.pr-contenedor:hover{
  transform: scale(1.4);
  transition: transform 0.2s ease-in-out;
}

.ventana-principles {
  & > div {
    border-radius: 1rem;
  }
}

.ventana-principles div:not(:last-of-type) {
  margin-bottom: 15px;
}

.principle-boton {
  text-decoration: none;
  font-size: 25px;
  color:white !important;
  padding:20px;
  i {
    padding-right: 0.3em;
  }
}
.pr-title{
  font-size: 35px !important;
}
#pr-1{
  background-color:rgb(99,153,121);
  position: fixed;
  top:220px;
  left:240px;

}
#pr-2{
  background-color:rgb(54,165,222);
  position:relative;
  margin:0 auto;
  top:130px;
}
#pr-3{
  background-color:rgb(33,167,112);
  position: fixed;
  top:220px;
  right:240px;
}

#bola-1{
  width:280px;
  height:280px;
  position: fixed;
  border-radius:300px;
  z-index: 1;
  bottom:30px;
  left:197px;
  opacity: 0.3;
}
#bola-2{
  width:600px;
  height:600px;
  border-radius:600px;
  position:fixed;
  z-index:1;
  top:80px;
  right:48px;
  opacity: 0.2;
}
#bola-3{
  width:250px;
  height:250px;
  border-radius:200px;
  position:fixed;
  z-index:1;
  top:50px;
  left:48px;
  opacity: 0.2;
}
#principle-1{
  border-bottom:7px solid rgb(99,153,121);
}
#principle-2{
  border-bottom:7px solid rgb(54,165,222);
}
#principle-3{
  border-bottom:7px solid rgb(33,167,112);
}


                /* ---- SLIDE 6 ---- */
#slide-6 h2{
  font-size:45px;
  font-weight: 800;
  text-transform: inherit;
  color:rgb(99,153,121);
  position: relative;
  margin:0 auto;
  top:25px;
}
#slide-6 p{
  font-size: 20px;
  color:rgb(77,77,77);
  text-align: left;
}

.map-norway{
  position: absolute;
  height: 300px;
  width:300px;
  z-index: 100;
  border-radius: 600px;
  background-image: url(../img/norway_map.png);
  background-size: 145%;
  top:-80px;
  left:485px;
}
#map-point{
  position:absolute;
  height:75px;
  width:75px;
  z-index:150;
  background-color:rgba(33,167,112,0.4);
  border-radius:200px;
  top:10px;
  left:580px;
}
#ltlturbine-1 {
  position: absolute;
  width:30px;
  height: 55px;
  background-image:url(../img/little_turbine.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index:160;
  top:20px;
  left:600px;
}
#ventana-demo{
  position: fixed;
  margin:0 auto !important;
  background-color: #f7f7f7;
  font-size: 20px;
  height:400px;
  width:850px;
  top:270px;
  bottom:0;
  right:0;
  border-top: rgba(54,165,222,0.8) solid 4px;
  border-left:rgba(54,165,222,0.8) solid 8px;
  border-bottom: rgba(54,165,222,0.8) solid 4px;
  border-radius: 200px 0 0 200px;
  z-index: 1;
}
#ventana-demo > div {
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 0.2em;
  padding-left:150px;
  padding-right: 100px;
}

.demo-ventana {
  position: fixed;
  margin:0 auto !important;
  background-color: blue;
  font-size: 20px;
  height:400px;
  width:850px;
  top:270px;
  bottom:0;
  right:0;
  border-radius: 200px 0 0 200px;
  z-index: 1;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none;
  transition: all 0.3s;
}
  .demo-ventana:target {
    visibility: visible !important;
    opacity: 1 !important;
    background-color: #f7f7f7;
    border-top: rgba(54,165,222,0.8) solid 4px;
    border-left:rgba(54,165,222,0.8) solid 8px;
    border-bottom: rgba(54,165,222,0.8) solid 4px;
    pointer-events: auto;
  }
  .demo-ventana > div {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0.2em;
    padding-left:150px;
    padding-right: 100px;
  }

/* Demo Styles */

.demo-contenedor {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100px;
  width:100px;
  transform:scale(1.1);
  border-radius: 50px;
  position: fixed;
  z-index: 2;
}
.demo-contenedor:hover{
  transform: scale(1.25);
  transition: transform 0.4s ease-in-out;
}

.demo-ventana {
  & > div {
    border-radius: 1rem;
  }
}

.demo-ventana div:not(:last-of-type) {
  margin-bottom: 15px;
}

.boton-demo {
  text-decoration: none;
  font-size: 25px;
  color:white !important;
  padding:20px;
  i {
    padding-right: 0.3em;
  }
}
#first-container{
  background-image: linear-gradient(-45deg, rgba(255,255,255,1), rgba(33,167,112,1));
  position: fixed;
  top:295px;
  left:85px;
}
#after-container{
  background-image: linear-gradient(-135deg, rgba(255,255,255,1), rgba(99,153,121,1));
  top:430px;
  left:45px;
}
#finally-container{
  background-image:linear-gradient(135deg, rgba(255,255,255,1), rgba(54,165,222,1));
  top:560px;
  left:85px;
}
#finally-7 p{
  margin-top:-100px;
}
table{
  position: fixed;
}

table th{
  font-size: 20px;
  color:rgb(77,77,77);
  background-color:rgba(54,165,222,0.5);
  border-radius: 10px 10px 0 0;
  text-align: center !important;
}
table td{
  font-size:20px;
  color:rgb(77,77,77);
  text-align: center !important;
}
#table-1{
  width: 400px;
  top:100px;
  left:50px;
}
#table-2{
  top:180px;
  left:50px;
}
#table-3{
  width:400px;
  top:100px;
  right:50px;
}
#table-4{
  top:180px;
  right:50px;
}
#table-5{
  top:180px;
  left:300px;
}
#table-6{
  top:180px;
  right:300px;
}

                  /* ---- SLIDE 7 ---- */

#slide-7 h2{
  font-size:45px;
  font-weight: 800;
  text-transform: inherit;
  color:rgb(54,165,222);
  position: fixed;
  left:0;
  right:0;
  top:50px;
}
.consort-img{
  width:150px;
  height:75px;
  padding:20px;
}
#consort{
  margin-top:150px;
}

                  /* ---- SLIDE 8 ---- */

#slide-8 h2{
  font-size: 45px;
  font-weight: 1000;
  padding-left:2em;
  padding-right: 2em;
  color:rgba(99,153,121,1);
  position: fixed;
  top:300px;
}
#slide-8{
  background-image:url(../img/back_slide_1.png);
}
.web, .twitter, .linkedin, .video{
  width:100px;
  height: 100px;
  z-index: 2;
  position: absolute;
  border-radius: 200px;
  padding-top:0.5em;
  padding-left:0.25em;
  padding-right: 0.25em;
}
.web{
  top:405px;
  left:50px;
  background-image:linear-gradient(-45deg, rgba(33,167,112,0), rgba(33,167,112,1));
}
.web:hover{
  background-image:linear-gradient(-45deg, rgba(54,165,222,0), rgba(54,165,222,1));
  transition: 0.8s ease-in-out;
}
.twitter{
  top:405px;
  right:50px;
  background-image:linear-gradient(45deg, rgba(54,165,222,0), rgba(54,165,222,1));
}
.twitter:hover{
  background-image:linear-gradient(45deg, rgba(54,165,222,0), rgba(33,167,112,1));
  transition: 0.8s;
}
.linkedin{
  left:300px;
  top:455px;
  background-image:linear-gradient(-120deg, rgba(54,165,222,0), rgba(54,165,222,1));
}
.linkedin:hover{
  transition: 0.8s ease-in-out;
  background-image:linear-gradient(-120deg, rgba(54,165,222,0), rgba(99,153,121,1));
}
.video{
  right:300px;
  top:455px;
  background-image:linear-gradient(120deg, rgba(99,153,121,0), rgba(99,153,121,1));
}
.video:hover{
  transition: 0.8s ease-in-out;
  background-image:linear-gradient(120deg, rgba(99,153,121,0), rgba(54,165,222,1));
}
.euro-project{
  width:200px;
  height:27px;
  display: block;
  position: fixed;
  top:10px;
  right:5px;
}
.euro-project img{
  position: absolute;
  height: 90px;
  width: auto;
  left:0px;
  top:-20px;
}
.euro-project p{
  position: absolute;
  font-size: 8px;
  padding-left:50px;
  text-align: left;
  top:-22px;
}

/*-------------------

                              -------------------*/
